Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2023-12, with the labels that each got.

#196 DFPL-1925
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-196

#191 DFPL-1921 INC5566351 Document removal on LS23C50636
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-191

#197 DFPL-1940
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-197

#198 CVE Suppression
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-198

#199 Fix CVE-2023-6378
  build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-199

#186 DFPL-1902 Data Migration for FurtherEvidenceDocument without Document Type
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-186

#184 DFPL-1855 Middlesborough court epimmsID typo + Migration
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-184

#200 DFPL-1934: Add migration function which skips if no field to clear
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-200

#201 DFPL-1954: Add migration functions to mapping
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-201
