Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2023-09, with the labels that each got.

#117 DFPL-1561: Create AM roles for Judiciary + Legal Advisers migration
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-117, Work Allocation

#121 DFPL-1722: Add migration functions
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-121

#122 DFPL-1734: Add migration functions
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-122

#123 Dfpl 1561 judge migration testing
  src/main/java/uk/gov/hmcts/reform/JudicialUserRequest.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/JudicialApi.java
  src/main/resources/application.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-123

#124 Dfpl 1561 judge migration testing
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-124

#125 Dfpl revert api log
  src/main/java/uk/gov/hmcts/reform/JudicialUserRequest.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/JudicialUserProfile.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/JudicialApi.java
  src/main/resources/application.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-125

#126 Enable renovate in migration tool repo
  .github/renovate.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-126
