Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2024-12, with the labels that each got.

#250 DFPL-2613 Add migration to remove text from legal basis for case.
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-250

#251 DFPL-2619 Add migration to update third party applicant.
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-251

#253 DFPL-2621: Update outsourcing org policy to itn
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-253
