Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2024-11, with the labels that each got.

#244 DFPL-2579: Setup migration function
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-244

#245 DFPL-2585: Setup migration, cleanup old queries
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImplTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-245

#246 DFPL-2597: Remove statement of service migration
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-246

#247 DFPL-2605: Add migration to update outsourcing policy.
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-247

#249 DFPl-2610: Remove legal basis information
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-249
