Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2024-06, with the labels that each got.

#232 DFPL-2331: Remove child names from proceedings
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-232

#233 DFPL-2323: Migration to remove temp field
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-233

#234 DFPL-2354: Setup migration function
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-234
