Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2025-05, with the labels that each got.

#281 DFPL-2739: Add migration to remove draft order from additional application
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-281

#282 DFPL-2733: Add migration to mapping
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-282

#284 DFPL-2360: Setup ES Query for all (non-deleted) cases for OOH migration
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-284

#269 DFPL-2423 Migration tools
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-269

#285 DFPL-2756: Add migration to service
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-285

#289 DFPL-2360: Add migration function
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-289

#286 DFPL-2742: Upgrade spring, clean up deps
  Dockerfile
  build.gradle
  charts/fpl-cron-ccd-data-migration-tool/Chart.yaml
  charts/fpl-cron-ccd-data-migration-tool/values.yaml
  gradle/wrapper/gradle-wrapper.properties
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/fpl/model/common/Element.java
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-286
