Repository hmcts/fpl-ccd-data-migration-tool, pull requests merged in 2025-07, with the labels that each got.

#315 DFPL 2797
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/main/resources/application.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-315

#319 Temp Suppress CVE-2025-48976
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-319

#320 Rollback DFPL-2797
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
  src/main/resources/application.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-320

#324 Rollback DFPL-2797 Revert "use search_after (#322)"
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/query/EsQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/ElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-324

#326 DFPL-2805: Add migration to remove seal cmo
  src/main/java/uk/gov/hmcts/reform/migration/service/DataMigrationServiceImpl.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-cron-ccd-data-migration-tool-pr-326
